* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}
.nav-title img{
  width: 80px;
  height: 40px;
}
.nav-title h3{
font-size: 45px;
font-weight: 700;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content li{
  list-style: none;
  margin-right: 32px;
}
.follow-us{
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 20px;
}
.banner-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-content h2{
  color: #0B0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
.banner-content h1{
font-size: 95px;
font-weight: 800;
}
.banner-content p{
  color: #534C64;
font-size: 20px;
font-weight: 500;
}
.btn{
  margin-top: 40px;
}
.btn-1{
  border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 20px 40px;
border: none;
}
.btn-2{
  border-radius: 48px;
  background: #4EC5F7;
color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 20px 40px;
border: none;
}
.banner-img{
  width: 300px;
 
  margin-right: 240px;
}